.colores{
    background-color: white;
}
.g-tareas{
    background-color: black;
}

.title{
    background-color: White;
    height: 70px;
    margin-bottom: 10px;
    margin-top: 0;
    color: black;
}
